{% extends "base.html" %}
{% load compress %}
{% load static %}

{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block style %}
{% compress css %}
<link href="{% static 'books/book.scss' %}"  rel="stylesheet">
{% endcompress %}
{% endblock style %}

{% block content %}
<h2>Titre : {{ book.title }}</h2>
<h2>Auteur :{{ book.author }}</h2>
<p> {{book.description}}</p>
<ul>
    <li>
        <p>Genres:
    {% if book.genre.all %}
        <ul>
            {% for genre in book.genre.all %}
                <li>{{ genre.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        Aucun genre disponible.
    {% endif %}
</p>
    </li>
    <li>Date de publication: {{ book.published_date }}</li>
    <li>{{book.is_available|yesno:'Disponible,Indisponible'}}</li>
    <li>
        <div class="stars">
            Stars :
            {% for star in stars  %}
            <span>{{star}}</span>
            {% endfor %}

        </div>
    </li>

</ul>
{% endblock %}

<a href="{% url "book-list" %}" >Retour à la liste des livres</a>
