a {
    color: red; /* Couleur des liens */
    text-decoration: underline; /* Soulignement des liens */
}

a:hover {
    color: darkblue; /* Couleur des liens au survol */
    text-decoration: underline; /* Soulignement au survol */
}
